body{
    font-family: Arial;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    gap: 15px;
    justify-content: center;
}

.cell{
    width: 100px;
    height: 100px;
    background-color: #4CAF50;
    color: white;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.empty{
    background-color: #ccc;
}

@media (max-width: 1080px) {

    body{
        background-color: #1a1a2e;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: auto;
        height: auto;
    }

    #titulo{
        display: flex;
    }

    #subtitulo{
        display: flex;
    }

    #titulo h1{
        font-size: 60px;
    }

    #subtitulo h2{
        font-size: 30px;
    }

    .grid {
        grid-template-columns: repeat(3, 200px);
        grid-template-rows: repeat(3, 200px);
        justify-content: left;
        gap: 5px;
        padding: 10px;
    }

    .cell {
        width: 80%;
        height: 80%;
        font-size: 30px;
        background-color: #70e0bb;
        border: 2px solid #0f3460;
    }

    .empty {
        background-color: #0f3460;
    }
}
#subtitulo{
    display: flex;
}

#titulo h1{
    font-size: 60px;
}

#subtitulo h2{
    font-size: 30px;
}

.grid {
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    justify-content: left;
    gap: 5px;
    padding: 10px;
}

.cell {
    width: 80%;
    height: 80%;
    font-size: 30px;
    background-color: #70e0bb;
    border: 2px solid #0f3460;
}

.empty {
    background-color: #0f3460;
}

button{
    width: 100px;
    height: 50px;
    background-color: rgb(119, 20, 20);
    border-radius: 6px;
    text-align: center;
    text-size-adjust: 15px;
    color: white;
    cursor: pointer;
}

#footer button{
    display: flex;
    justify-content: left;
}